JWT_SECRET=token
ACCESS_TOKEN="accessToken" # não altere
REFRESH_TOKEN="refreshToken" # não altere
API_TOKEN=token_da_api
API_KEY=key_da_api
EXPIRATION_TIME_ACCESS_TOKEN="20s"
EXPIRATION_TIME_REFRESH_TOKEN="1d"